/*
improveLib.css: for improving the unecessarily large Webb libraries link, along with added elements and other sizings
*/

.vx-hover-menu__hover-links-container 
{
    min-height: 50px !important;
}  

.vx-hover-menu 
{
    width: 210px !important; 
    margin-left: 66% !important;
}

.dropbox-logo
{
   height: 16px;
   width:  16px;
   filter:  invert(1) sepia(0) hue-rotate(0deg) saturate(100%) brightness(1.0) contrast(100%);
   vertical-align: bottom;
   margin-bottom: 13px;
}

.vx-portal-nav__item-link:hover > .nc-icon-glyph.dropbox-logo
{
   filter:  invert(34%) sepia(19%) saturate(2271%) hue-rotate(103deg) brightness(97%) contrast(97%);
}

.vx-record-header__title
{
    font-size: 0rem !important;
}

.vx-record-header__course-description
{
    font-size: 1.25rem !important;
}

.course-links a:nth-child(1)
{
    font-size: 0px !important;
    transition:  scale(0) !important;
    margin-left:  0px !important; 
    width: 0px !important;
}

.course-links a:nth-child(2)
{
    margin-left: 0px !important;
    font-size:  1rem;
}

.vx-portal-nav__item:hover .vx-portal-nav__item-link + .vx-hover-menu, .vx-portal-nav__item-link:focus + .vx-hover-menu 
{
    top: 45px;
}

.vx-hover-menu 
{
    top: 45px;
    position: relative;
}


li.vx-portal-nav__item:nth-child(7) 
{
    width: 10em;
}

.vx-hover-menu.vx-hover-menu--two-columns, .vx-hover-menu.vx-hover-menu--one-column 
{
    min-height: 250%;
    width: 150%
}

