:root
{
	--background-color: #ffffff;	
	--border-color: #404148;
	--divider-color: #c1c1c1;
	--text-color: #000000;
	--box-background-color: #0ea03c;
	--box-background-color-hover: #127732;
	--mode-change-background: rgb(196, 193, 209);
	--mode-change-background-hover: rgb(170, 166, 184);
	--dark-mode-border: #4d4d59;
	--text-link-color: rgb(21, 127, 60);

}

html
{
	font-family: sans-serif;
	width: 300px;
	height: auto;
	max-height: 900px;
	overflow-y: scroll;
	overflow-x: hidden;
}

body
{
	background-color: var(--background-color);
	text-align: center;
	width: inherit;
	height: inherit;
	margin:3px;
	color: var(--text-color);
	font-size: 87%;
}

#issues a:visited, #issues a:link {
	color: var(--text-link-color);
	text-decoration: none;
}

.initial-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.initial-wrapper .row-1 {
	display: flex;
	flex-direction: row !important;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	height: auto;
	margin-top: 10px;
}

#welcome-message {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}

hr {
	width: 99%;
	height: 0;
	border: none;
	border-bottom: 1px solid var(--divider-color);
	margin: 15px 0px;
	background: none;

}

#welcome-message .message {
	font-size: 28px;
	font-weight: bold;
	margin: auto 5px;
}

#welcome-message .message p {
	margin: 0px;
}

#modeChange button {
	height: 35px !important;
	width: 35px !important;
	background: var(--mode-change-background);
	cursor: pointer;
}

#modeChange {
	margin: auto 5px;
}

button.current
{
	box-shadow: 0 0 0 2px var(--divider-color),
	0 0 0 4px var(--border-color);
}

#modeChange button:hover {
	background: var(--mode-change-background-hover);
}

#nav {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.nav-row {
	display: flex;
	flex-direction: row;
	margin: 3px auto;
}



.nav-row p {
	width: auto;
	height: auto;
	margin: 0px 5px;
}

#get-information-header {
	margin: 8px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}

#get-information-info {
	font-size: 18px;
	height: fit-content;
	text-align: left;
	margin: auto 0px;
}

#change-assignment-dropdown {
	display: flex;
	font-size: 15px !important;
	flex-direction: column;
	overflow: hidden;
	height: 26.5167px;
	width: 130px;

}

.change-assignment-box {
	padding: 4px 2px 4px 6px;
	background: var(--mode-change-background);
	text-align: left;
	cursor: pointer;
	display: flex;
}



#selected-assignment-box {
	padding: 4px 2px 4px 6px;
	background: var(--mode-change-background);
	text-align: left;
	height: auto;
	display: flex;
	justify-content: left;
	align-content: center;
	cursor: pointer;
	border: 0px solid var(--border-color);
	border-radius: 10px;
	overflow: visible;
	margin-bottom: 4px;
}

#selected-assignment-box p {
	height: max-content;
	margin: auto 0px;
	height: auto;
}

.change-assignment-box:hover {
	background: var(--mode-change-background-hover);
}


#change-assignment-dropdown:hover {
	overflow: visible;
	z-index: 0;
}

#change-assignment-dropdown:hover #selected-assignment-box {
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-bottom: 0px;
}

#change-assignment-dropdown:hover .change-assignment-box {
	border-right: 0px solid var(--border-color);
	border-left: 0px solid var(--border-color);
}

#change-assignment-dropdown:hover .change-assignment-box-last {
	border-bottom: 0px solid var(--border-color);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}



.get-information-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.get-information-box {
	width: auto;
}

.get-information-box button {
	height: auto;
	width: auto;
	padding: 10px;
	margin-right: 1px;
	cursor: pointer;
}

.get-information-box button:hover {
	background-color: var(--box-background-color-hover);
}

#display-information-error {
	display: none;
	justify-content: center;
	align-items: center;
}

.display-information-wrapper {
	min-height: 200px;
	margin: 8px 4px;
}

.display-information-box {
	margin: 10px;
	flex-direction: column;
}

#miss p, #lppdiv p {
	text-align: left;
	margin-bottom: 5px;
}

#assign .assignment-entry {
	text-align: left;
	margin-bottom: 5px;
	display:flex;
}
.assignment-entry .entry {
	color: var(--divider-color);
	width: fit-content;
}

.assignment-entry .date {
	min-width: max-content;
	margin-right: 3px;
	padding: 0px;


}

.post-entry {
	margin-bottom: 3px;
}

#post-box {
	display: none;
}

#post-box a:link, #post-box a:visited {
	width: 100%;
	margin: 3px auto;
	color: var(--text-link-color);
	text-decoration: none;
}

div.get-information-box:nth-child(3) {
	display: none;
}



.message
{
	color: var(--text-color);
}

.settings-btn {
	width: 35px;
}

#not-veracross-error p {
	margin-top: 10px;
}

.nav-link a.box:link, .nav-link a.box:visited
{
	background-color: var(--box-background-color);
	color: var(--text-color);
	padding: 7px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	border-color: var(--border-color);
}

.nav-link a.box:hover, .nav-link a.box:active
{
	background-color: rgb(6, 114, 38);
}

button
{
	outline: none;
	color: var(--text-color);
	border-color: var(--border-color);
	border-radius: 10px;
	background-color: var(--box-background-color);
	font-size: 112%;
}

p {
	margin: 0px;
}

#issues {
	padding-bottom: 15px;
}

