:root
{
	--background-color: #ffffff;	
	--border-color: #000000;
	--text-color: #000000;
	--box-background-color: #0ea03c;
	--dark-mode-border: #4d4d59;
}

html
{
	font-family: sans-serif;
}

body
{
	background-color: var(--background-color);
	width: 300px;
	text-align: center;
	color: var(--text-color);
	border-color: var(--border-color);
	border-style: solid;
	border-width: 3px;
	font-size: 87%;
}

.message
{
	color: var(--text-color);
}

a.box:link, a.box:visited
{
	background-color: var(--box-background-color);
	color: #000000;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
	border-color: var(--border-color);
}

a.box:hover, a.box:active
{
	background-color: rgb(6, 114, 38);
}

button
{
	height: 70px;
	width: 200px;
	outline: none;
	margin: 10px;
	border-color: var(--border-color);
	border-radius: 2px;
	background-color: var(--box-background-color);
	font-size: 112%;
}

button.current
{
	box-shadow: 0 0 0 2px rgb(79, 79, 79),
	0 0 0 4px black;
}
